<nav id="main">
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/transaction">New Transaction</a></li>
    <li><a href="/history">History</a></li>
  </ul>
  <ul class="contact">
    <li><a href=""><i class="bi bi-facebook"></i></a></li>
    <li><a href="https://sg.linkedin.com/company/dbs-bank"><i class="bi bi-linkedin"></i></a></li>
    <li><a href=""><i class="bi bi-telephone-fill"></i></a></li>
  </ul>
</nav>
<div>
  <div class="row">
    <div class="ver1 col-md-2">
      <nav class="ver">
        <ul class="ver-nav-links">
          <li><a class="active" href="transaction/sender">Sender</a></li>
          <li><a href="transaction/receiver">Receiver</a></li>
          <li><a href="transaction/trans">Transaction</a></li>
        </ul>
      </nav>
    </div>
    <div class="start col-md-9">
      <div class="row">
        <div class="col-md-8">
          <form>
            <div class="f row">
              <div class="col-md-4">
                Booking Date
              </div>
              <div class="col-md-8">
                <input type="date">
              </div>
            </div>
            <div class="f row">
              <div class="col-md-4">
                Customer ID
              </div>
              <div class="col-md-8">
                <input [(ngModel)]="customerId" name="customerId" type="text" (keyup)="getSender()">
                
                <!-- <h3 *ngIf="sender.accHolderName != null" >{{sender.customerId}}</h3> -->
              </div>
            </div>
            <div class="f row">
              <div class="col-md-4">
                Account Holder Name
              </div>
              <div class="col-md-8">
                <input type="text" value={{sender.accHolderName}}>
              </div>
            </div>
            <div class="f row">
              <div class="col-md-4">
                Clear Balance
              </div>
              <div class="col-md-8">
                <input type="text" value={{sender.clearBalance}}>
              </div>
            </div>
            <button type="button" class="btn btn-primary" style= "margin-top:20px; padding: 10px; font-weight: bold;" (click)="goToReceiver()">Next</button>
          </form>
        </div>
        <div class="simg col-md-3">
          <img class="cimg" src="assets/sender.png">
        </div>
      </div>  
    </div>
  </div>
</div>