* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  min-height: 70px;
  background-color: #40060e;
  padding-left: 4px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #eeecdf;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
  padding: 14px 16px;
}

.nav-links a:hover:not(.active) {
  background-color: #40060e;
}

.nav-links li a.active {
  background-color: #eeecdf;
  color: #40060e;
}

.contact {
  display: flex;
  justify-content: space-around;
  padding-left: 60%;
}

.contact li {
  list-style: none;
  padding-left: 20px;
}

.contact i {
  color: #eeecdf;
  text-decoration: none;
}

.ver {
  display: block;
  align-items: center;
  background-color: #01566e;
}

.ver1 {
  height: 427px;
  background-color: #01566e;
}

.ver-nav-links {
  display: block;
  text-align: center;
}

.ver-nav-links li {
  list-style: none;
  margin-bottom: 50px;
  margin-top: 50px;
}

.ver-nav-links a {
  color: #eeecdf;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
  padding: 14px 16px;
}

.ver-nav-links a:hover:not(.active) {
  background-color: #01566e;
}

.ver-nav-links li a.active {
  background-color: #eeecdf;
  color: #01566e;
}

.start {
  text-align: center;
  margin: auto;
}
