<nav id="main">
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/transaction">New Transaction</a></li>
    <li><a href="/history">History</a></li>
  </ul>
  <ul class="contact">
    <li><a href=""><i class="bi bi-facebook"></i></a></li>
    <li><a href="https://sg.linkedin.com/company/dbs-bank"><i class="bi bi-linkedin"></i></a></li>
    <li><a href=""><i class="bi bi-telephone-fill"></i></a></li>
  </ul>
</nav>
<div>
  <div class="row">
    <div class="ver1 col-md-2">
      <nav class="ver">
        <ul class="ver-nav-links">
          <li><a href="transaction/sender">Sender</a></li>
          <li><a href="transaction/receiver">Receiver</a></li>
          <li><a href="transaction/trans">Transaction</a></li>
        </ul>
      </nav>
    </div>
    <div class="start col-md-10">
      <h4>Start Transaction By clicking "Sender" on left</h4>
    </div>
  </div>
</div>