<nav>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/transaction">New Transaction</a></li>
    <li><a class="active" href="/history">History</a></li>
  </ul>
  <ul class = "contact">
    <li><a href=""><i class="bi bi-facebook"></i></a></li>
    <li><a href="https://sg.linkedin.com/company/dbs-bank"><i class="bi bi-linkedin"></i></a></li>
    <li><a href=""><i class="bi bi-telephone-fill"></i></a></li>
  </ul>
</nav>
<div class="body-text"><h1>This is History page</h1></div>